[2019-08-18 18:54] LarsDenBakker opened #2 "Syntax error when exporting destructured variables"
This gives a syntax error, but it runs fine in chrome:
[code]

[2019-08-18 18:56] guybedford commented on #2
It would be worth checking against the latest master as I've made some changes today.

Otherwise a fix is very welcome, I expect it is because it is not exiting the `export ...` parse at the position before `{` resulting in an unmatched brace error.

[2019-08-18 19:01] LarsDenBakker commented on #2
Yeah still giving an error, I'll see if I can make a fix.

[2019-08-18 22:46] guybedford opened #3 "Experimental Wasm Conversion"
While the times for parsing are great when warmed up in the optimizer, this project heavily relies on cold performance because this is boot-time code analysis.

This is exactly the sort of reason to look into using Wasm.

I've started a branch to investigate this further, hope to have some results this week.

[2019-08-18 22:46] guybedford commented on #2
Thanks, I would take a look at it but I'm currently working on https://github.com/guybedford/es-module-lexer/issues/3!

[2019-08-20 14:40] LarsDenBakker commented on #3
This is pretty interesting, what language do you plan on writing it in?

[2019-08-20 14:40] LarsDenBakker opened #4 "Syntax error when using a $ inside a template string"
This throws an error: ``` `$` ```

[2019-08-20 14:56] guybedford commented on #3
It has to be very lightweight (under 8KiB), so C is the obvious choice.

Nearly finished the conversion, hopefully should have a PR up tomorrow.

Because it's an exact port the current bugs should still apply to it, so don't let this stop any fixes.

[2019-08-20 20:28] guybedford commented on #3
PR at https://github.com/guybedford/es-module-lexer/pull/7.

[2019-08-20 20:31] LarsDenBakker opened #8 "comments can trick the lexer"
I'm seeing a couple of scenarios where comments can throw off the lexer:
[code]

makes the lexer stop at `/*`

[code]
makes the lexer stop at the second `'` inside the comment.

[code]

comments inside an export statement also cause syntax errors

If I understand it correctly, calls to `commentWhitespace` should walk over whitespace and comments in the source code, so we should update it to proper

[2019-08-20 20:38] guybedford commented on #8
Thanks, these failure cases are a huge help to know. The fixes should be straightforward. Will take a look tomorrow.

[2019-08-20 22:39] guybedford commented on #8
Fix included in the Wasm implementation at https://github.com/guybedford/es-module-lexer/pull/7/commits/a9dfc342db6ccaf4b47de07af5d43bf4d2a42ad5.

[2019-08-20 23:47] #8 closed

[2019-08-20 23:48] guybedford commented on #4
Resolved in #7.

[2019-08-20 23:48] #4 closed

[2019-08-20 23:48] #3 closed

[2019-08-20 23:53] guybedford commented on #3
Released in 0.3.0

[2019-08-21 07:53] LarsDenBakker opened #9 "Syntax error when exporting a function"
With 0.3.x I'm getting a syntax error on this:
[code]

[2019-08-21 07:57] LarsDenBakker opened #10 "Flag to skip parsing exports"
For my use case I only need the imports. Do you think it would be much faster if there was a flag to skip parsing the exports? At least it would prevent some syntax errors, since parsing exports is a lot more complex than imports.

[2019-08-21 11:17] guybedford commented on #9
Thanks, these cases help a lot. PR created.

[2019-08-21 11:18] guybedford commented on #10
I don't think it would improve performance as we still need to tokenize the whole source (imports can be at the end) and skipping the export routine is a minor saving.

Let's fix the export destructing bugs though, and continue to track that in https://github.com/guybedford/es-module-lexer/issues/2.

[2019-08-21 11:18] #10 closed

[2019-08-21 11:45] #9 closed

[2019-08-21 11:45] guybedford commented on #2
Fixed in #11.

[2019-08-21 11:45] #2 closed

[2019-08-21 13:31] guybedford opened #13 "Experiment with a UTF-16 encoding"
It could be interesting to try this out for performance reasons. I'm not sure if there would be a benefit but it would allow us not to need to use TextEncoder.

[2019-08-21 15:59] LarsDenBakker opened #14 "node 10 Invalid typed array length"
I'm testing  a large variety of packages. On node 10 I'm getting these kinds of errors:

[code]

The errors are for lengths such as 86449, 534408, 14579, 30011, 95552.

Files which are failing:
- https://unpkg.com/chai@4.2.0/chai.js
- https://unpkg.com/sinon@7.4.1/pkg/sinon-esm.js
- https://unpkg.com/underscore@1.9.1/underscore.js
- https://unpkg.com/react@16.9.0/umd/react.development.js
- https:/

[2019-08-21 17:24] guybedford commented on #13
Implemented in https://github.com/guybedford/es-module-lexer/pull/15.

[2019-08-21 17:24] #13 closed

[2019-08-21 17:25] guybedford commented on #14
I've just implemented the encoding change to UTF16 in https://github.com/guybedford/es-module-lexer/pull/15.

Just publishing a release now - if you could test against that, I expect that will likely have resolved the issue but let me know if not too.

[2019-08-21 18:34] LarsDenBakker commented on #14
Unfortunately, it's still giving me errors :(

[code]

[2019-08-21 18:40] guybedford commented on #14
Does it happen reproducibly and always on the first attempt? Or does it take a few sources before you hit this?

[2019-08-21 18:48] LarsDenBakker commented on #14
It's reproducible on the first try, I made https://github.com/guybedford/es-module-lexer/pull/16 with a minimal setup

[2019-08-21 19:45] guybedford commented on #14
Fixed in https://github.com/guybedford/es-module-lexer/commit/46f9e907f5590d28a12637d5e1503a34a1fffac4.

[2019-08-21 19:45] #14 closed

[2019-08-21 20:06] LarsDenBakker commented on #14
Thanks, it works fine now!

[2019-08-21 20:33] LarsDenBakker opened #17 "methods named import incorrectly detected"
Here I am again :)

[code]

Is detected as a dynamic import rather than a method. The same goes for:

[code]

[2019-08-21 22:12] guybedford commented on #17
These cases are working fine for me in a unit test... can you share an exact replication?

[2019-08-21 22:13] guybedford commented on #17
(Existing tests for similar cases can be found at https://github.com/guybedford/es-module-lexer/blob/master/test/_unit.js#L140)

[2019-08-22 05:31] LarsDenBakker commented on #17
I added a failing test: https://github.com/guybedford/es-module-lexer/pull/18

[2019-08-22 13:35] #17 closed

[2019-08-28 08:05] LarsDenBakker opened #24 "Infinite loops"
While testing I've found that the lexer can sometimes run into infinite loops, either because the code is really invalid or because a certain syntax is not yet supported.

It would be nice if the lexer is able to bail out of the loops after a few tries and throw a parse error instead of crashing the browser/node server.

[2019-08-28 08:21] LarsDenBakker opened #25 "String with a newline causes a parse error"
[code]

causes a parse error

[2019-08-28 10:27] zaygraveyard commented on #25
Your code sample is not valid JS, you are escaping the closing single quote.
Does the following cause a parse error?
[code]

[2019-08-28 10:32] LarsDenBakker commented on #25
You're right, that's a typo sorry. Without the \ it still causes a parse error. See: https://github.com/guybedford/es-module-lexer/pull/26

[2019-08-28 11:01] zaygraveyard commented on #25
Looks like in your test you are using
[code]
Which gives the parser
[code]
Which is invalid JS
But trying
[code]
Parses ok

[2019-08-28 13:47] LarsDenBakker commented on #25
My bad, I was debugging why something was failing after compilation to es5. console.log showed that babel output regular strings with \n, but after looking further it does print them with escape characters so that's not the issue. I'll look further.

[2019-08-28 13:47] #25 closed

[2019-08-28 15:36] LarsDenBakker commented on #24
I will report them when I find them, I ran into a case this morning (and others that got fixed before) but I can't reproduce it now of course :)

My concern is more that new js syntax being added might trip up the lexer in the future.

[2019-08-30 17:38] zaygraveyard opened #34 "Parser error when exporting variable with comment between identifier and ="
[code]
Try it online https://jsfiddle.net/679cep3n/1/

[2019-08-31 00:45] #34 closed

[2019-08-31 00:45] guybedford commented on #34
Thanks for posting this case, I've added a fix in https://github.com/guybedford/es-module-lexer/pull/35. Will wait a little while before releasing though.

[2019-08-31 21:04] guybedford commented on #34
Released in 0.3.13.

[2019-09-01 11:47] zaygraveyard commented on #34
Thank you 😄

[2019-09-06 14:16] guybedford opened #36 "Full import/export statement tracking"
If we want to support hosting of import/export statements (needed for TLA), we should extend the data associated with imports and exports to include two new properties - `ss` and `se` for _statement start_ and _statement end_.

In the case of statements like `export function x () {}` we can actually return `-1` for `se` since a hoisting operation would just need to remove the `export` keyword and

[2019-09-06 14:22] guybedford opened #37 "Top-level await tracking"
To detect top-level await it would be sufficient to track the following cases:

[code]

where any `await` in the last `...` section would be ignored and any `await` otherwise would imply top-level await.

This works out because we can assume that any `await` in a non-async function would be a parser error, and hence break the assumption of this project that we are parsing JS source that is _alread

[2019-09-10 16:58] guybedford opened #38 "Streaming API"
In line with https://github.com/guybedford/es-module-shims/issues/64, trying to figure out how a streaming API might work.

From an API perspective, it is very straightforward to just implement a `streamEnd < sourceEnd` on which computation should stop, while retaining the parser state variables to be able to resume from the same point again easily. Any imports / exports read while stopped should

[2019-12-17 13:02] LarsDenBakker opened #39 "Error lexing export with comment between variable names and equal sign"
`graphql` generates code like this: https://unpkg.com/browse/graphql@14.5.8/type/definition.mjs#LC752 which throws an error in the lexer.

It looks like it's the comment between the variable name and the equals sign that's causing the issue.

This throws as well:

[code]

and

[code]

[2019-12-18 01:42] guybedford commented on #39
@LarsDenBakker did you try this with the very latest release of es-module-lexer (0.3.13)? I just tested it out on this version and it seems to work ok there.

[2019-12-18 08:45] LarsDenBakker commented on #39
Looks like we were still on an older version, sorry about that!

[2019-12-18 08:45] #39 closed

[2020-01-18 01:19] FredKSchott commented on #36
Hey Guy, we're really excited about using this lib as a replacement for our custom Babel-based import scanner in Snowpack. Unfortunately, full import statement tracking is required for our use-case. More info here, if you're curious: https://github.com/pikapkg/snowpack/issues/146

I'm happy to help implement this if it's straightforward and you're interested (/cc @alex-saunders who may be interest

[2020-01-20 03:25] guybedford commented on #36
@FredKSchott supporting full import binding tracking could certainly be possible, and shouldn't have any technical blockers. This project tries to keep the code footprint down as much as possible to avoid unnecessary costs for es-module-shims, so depending on how much this increases the final file size it could even be sensible to fork to get exactly the API you need, if it turns out it adds more

[2020-01-23 17:01] FredKSchott commented on #36
Okay, thanks. I'll see how far I can get into this then. Would love your guidance on it, it's been ages since i've done C development like this.

Are you alright if we tackle imports first? Grabbing the whole "export" statement feels like a very different can of worms since the variable declaration can be any value (vs. import statements being much easier to statically analyze). Not sure if I have

[2020-01-23 17:03] FredKSchott commented on #36
My first approach to parsing the import statement would be:

- "statement end" is always the same of the current "end" value +/1 0 for import.meta, +1 for regular imports (for the end quote), and +2 for dynamic imports (for the end paren and quote). We don't need any new data to track this, just calculate it inside of `addImport()` based on `dynamic`, and then add it to the return object under `se

[2020-01-24 15:26] guybedford commented on #36
@FredKSchott I initially thought you were planning to seek emission of each of the specifiers in the import statement - but if getting the parse result of the entire statement itself (ie to then put through a specific parser on the statement boundary to get the perf benefits) is your goal here then that definitely sounds like a worthwhile approach to me.

Implementing such a statement end for both

[2020-01-24 19:07] FredKSchott commented on #36
Awesome, glad that approach aligns more with your vision 👍

Okay, I'll push up a PR to follow the plan outlined above. That's a good point that you don't actually need "statement start/end" for dynamic imports or `import.meta`. I'll follow your advice and just skip it on those, only outputting for normal import/export form.

[2020-01-26 16:08] LarsDenBakker opened #42 "Doesn't work with imports with non breakable space"
After an interesting debugging session, I found out that some imports in some files weren't detected because they contained non breakable spaces (char 160). These are apparently valid to use in javascript.

See a reproduction here: https://jsbin.com/cekivufibu/edit?html,output

[2020-02-01 17:37] guybedford commented on #42
Yes, I didn't want to support all the character variants because it seemed unnecessary - did not know anyone actually relied on these!

Happy to fix to spec, will post a PR now.

[2020-02-01 17:47] guybedford commented on #42
Fix released in 0.3.14.

[2020-02-01 17:47] #42 closed

[2020-02-01 18:52] LarsDenBakker commented on #42
They probably used it unintentionally, but its a silent error.

[2020-02-14 13:38] alex-saunders opened #44 "Typescript-compatible exports"
I'm trying to import `es-module-lexer` into a Typescript project but i'm getting the error 'cannot find module es-module-lexer'. I'm fairly certain this becase the package.json `main` entry points to `dist/lexer.cjs` which typescript can't resolve due to the `.cjs` extension. I'm not massively experienced with Typescript so this could well be a problem with my understanding. However, I think it mi

[2020-02-14 14:47] guybedford commented on #44
Using `.cjs` is exactly the correct pattern to use for Node.js module support.

Rather, this should be considered a TypeScript issue.

[2020-02-14 15:09] alex-saunders commented on #44
Damn I thought that might be the case. I did some digging before opening this issue and it looks like Typescript are being annoyingly earnest about not accepting 'custom' extensions (https://github.com/microsoft/TypeScript/issues/10939)

It looks like the only way to include this in a typescript project is to vendor es-module-lexer into the project itself..

[2020-02-14 15:11] guybedford commented on #44
This is a bit different to that issue actually, and more just that TypeScript should support a `.cjs` file in the "main" just like it supports `.mjs`. `.cjs` is relatively new so a new issue may be needed here, but it should definitely not have friction to be supported. //cc @weswigham

[2020-02-14 15:16] alex-saunders commented on #44
Interesting! I'll keep a vendored version of es-module-lexer for now and wait and see what progress gets made on the Typescript side.
Cheers for the info @guybedford

[2020-02-14 17:13] weswigham commented on #44
@alex-saunders

You _probably_ shouldn't be loading your dependencies JS directly; while there are compiler options to make it work (sometimes), it is _slow_. If possible, it's usually better to include a declaration file defining the module. Since there's no `@types/es-module-lexer` package ([contributions are welcome](https://github.com/DefinitelyTyped/DefinitelyTyped)), that means including a `

[2020-02-14 18:41] guybedford commented on #44
@weswigham very interesting, thanks for the info here.

[2020-02-15 17:42] alex-saunders commented on #44
Thanks so much for the help @weswigham , I really appreciate the detailed response. I've ended up creating a mostly fleshed-out declaration file and including that in my local build for now but I'll aim to create a `@types` for package for other people's use ASAP.

Thanks again for filling in the gaps in my Typescript knowledge!

[2020-02-15 17:42] #44 closed

[2020-02-18 10:29] soelen opened #46 "No valid exports main found"
Recently the latest version of [es-dev-server](https://github.com/open-wc/open-wc/tree/master/packages/es-dev-server) doesn't seem to work anymore; it complains about a missing export or so I assume at least

[code]
[code]

[2020-02-18 11:04] guybedford commented on #46
Thanks, I've released a 0.3.17 which reverts the package.json changes here.

[2020-02-18 11:04] #46 closed

[2020-03-09 23:00] FredKSchott opened #47 "Support JSX"
@guybedford We have a feature request from Snowpack-land that I'm curious to hear your take on.

In the past we've used es-module-lexer so that Snowpack can scan imports from your JS app. This works fine for normal JS apps and even TypeScript apps. But, if you write with JSX, es-module-lexer will fail with a parse error, and you end up having to run the scanner on the final built JS directory inst

[2020-03-12 17:02] guybedford commented on #47
Hi @FredKSchott so I must admit I'm not sure this is completely straightforward, because it relies on knowing when the ECMAScript parser is in the PrimaryExpression state which is not something this project tracks. In addition we would have to carefully handle the full state transitions of the entire JSX grammar as described in https://facebook.github.io/jsx/. I think combined that would result in

[2020-03-30 04:43] FredKSchott commented on #47
Hey Guy, thanks for the reply and sorry for the slow response. That makes total sense to me, I'll look into what I can do inside of Snowpack to compile out the JSX before passing it to es-module-lexer.

Feel free to close.

[2020-03-30 04:44] #47 closed

[2020-04-13 18:25] FredKSchott commented on #36
Closing this loop, I think this is safe to close?

[2020-04-13 18:28] FredKSchott opened #48 "Support ES2020 "export * as ..." syntax"
`export * as ...` Syntax was added to ES2020: https://2ality.com/2019/12/ecmascript-2020.html

es-module-lexer doesn't break on this new syntax, but it also doesn't detect it either:

[code]

[2020-04-13 22:27] guybedford commented on #36
There are still some edge cases of full export statement tracking that are missing I think, since we only handled this for import and reexport statements. Cases like full function statement exports still need to be tracked to work towards top-level await rewriting needed by es module lexer.

[2020-04-13 23:55] guybedford commented on #48
Thanks for posting - sure, I've gone ahead and published  0.3.18 with this support in https://github.com/guybedford/es-module-lexer/commit/130610e987c66b7d0a3c0792f1a5f1fe3bdb5bac.

[2020-04-13 23:55] #48 closed

[2020-04-15 05:18] FredKSchott commented on #48
Awesome!

[2020-05-09 01:03] privatenumber opened #49 "Acorn / Esprima integrations"
Really cool to see WASM used to make such a huge improvement on a foundational aspect of parsing.

I'm wondering if there are any plans to integrate this to popular parsers like Acorn or Espirma. Considering they're used by popular tools like Webpack and ESLint, I imagine it would make a very high performance impact across the JS ecosystem.

[2020-05-09 19:07] guybedford commented on #49
This isn't a parser so can't even do eg scope analysis. It's fast because it focuses on solving just the problem we needed to solve here of parsing module syntax only, and correctly.

The future of JS optimization is certainly tooling which is native and compiles to WASM. esbuild is a start towards this but it will likely take a few attempts to get to the level of flexibility in architecture of JS

[2020-05-09 19:07] #49 closed

[2020-05-15 05:48] diervo commented on #36
@guybedford Is there a PR/issue I can follow/help where the export statement location is implemented discussed? For our use case we do need to know the location of the exports statements too.

[2020-05-15 06:02] FredKSchott opened #50 "Parse Error: increment operator & division"
As seen in: https://unpkg.com/canvas-confetti@1.2.0/src/confetti.js

[code]

I wasn't able to tell where the error might be coming from in the code, but hopefully these test cases point in the right direction.

[2020-05-15 06:52] guybedford commented on #50
@FredKSchott I just posted a fix in https://github.com/guybedford/es-module-lexer/commit/5b56821041b67c1501b6da104cc74083b0e00ba1.

npm seems to be having publishing issues right now.... so I can't publish the fix. Will keep this open until its out at least to notify you there.

Otherwise, the wasm is checked in so running `yarn build` only will get the `dist` files going.

[2020-05-15 07:10] FredKSchott commented on #50
Awesome, thanks for the quick fix.

[2020-05-16 00:34] guybedford commented on #50
Finally got to publishing this - just let me know if you see any further issues!

[2020-05-16 00:34] #50 closed

[2020-05-16 01:44] guybedford commented on #36
@diervo hey, well this is it :)

We need to handle all export declaration forms fully in ouputting their location information.

So the following forms need to be detected:

1. Function and class exports:

[code]

This is a high priority for me as it will allow us to support top-level await in es-module-shims.

Including async / generator variations. This should be straightforward as we can find th

[2020-05-16 02:32] diervo commented on #36
My C its a bit rusty so it will take me more time that I can manage right now, but maybe @pmdartus might take it as a challenge? 😄

[2020-05-30 17:54] TomerAberbach commented on #38
Streaming support would be cool. Maybe I don't fully understand your motivation, but what would you think of returning a lazy iterator/iterable over the imports/exports? You could provide either an import or export at each iteration:
[code]

Or in more of your style:
[code]

I'd be interested in helping out so let me know what you think!

[2020-05-31 04:52] guybedford commented on #38
Hi @TomerAberbach glad to hear you find this work interesting :)

So the main feature of streaming I was considering was to allow eager parsing of the network stream of the incoming source for network applications. The idea being that it could in theory be a performance benefit, while also forming a sort of a way to parallelize work in allowing tasks to happen between stream segments.

Whether tha

[2020-06-03 03:10] TomerAberbach commented on #38
I didn't have a very specific use case in mind. I was thinking that generally it would be useful to lazily iterate over (and process) the imports and exports. Additionally, if you're looking for a specific import or export, then lazily iterating would allow you to stop early once you find it. Also, returning an iterable is nice because it would allow users who want an array to obtain it like so: `

[2020-06-05 03:31] TomerAberbach commented on #38
@guybedford I wrote a [thin wrapper around this package](https://github.com/TomerAberbach/parse-imports) that provides information about imports in a more structured format. Currently it lazily processes each import, but because there's no streaming API yet it has to get the full array of imports before lazily processing each one of them. So if there was a streaming API, then I'd be able to not on

[2020-09-01 14:15] LarsDenBakker opened #52 "Memory out of bounds error"
Code patterns like this:

[code]

throw a memory access out of bounds error.

See this repo: https://jsbin.com/zuhirolegi/edit?html,output

[2020-09-01 22:13] guybedford commented on #52
Thanks, this is important as it breaks the state for future parses!!!

Was a standard integer overlfow issue, fixed and released in 0.3.25.

[2020-09-01 22:13] #52 closed

[2020-09-01 22:17] LarsDenBakker commented on #52
Thanks for resolving so quickly :)

[2020-09-20 14:06] csr632 opened #53 "the `se` of dynamic import is always 0"
Test code:
[code]
Output:
[code]

[2020-09-22 07:12] guybedford commented on #53
@csr632 yes dynamic import is an expression not a statement so this value holds no meaning. Instead use the usual start and end.

To be consistent we could just match it up to the same as the `e` value I suppose.

[2020-09-22 07:33] csr632 commented on #53
@guybedford
My use case is wraping the import promise value. For example, I want to replace `import('react')` with `import('react').then(m => m.default)`. So `se` would be very helpful.

[2020-09-22 07:35] guybedford commented on #53
@csr632 the `e` value should be the closing `)` of the expression though I think.

[2020-09-22 07:43] csr632 commented on #53
I am confused with `e` and `se` after seeing your comment :)

This is the `d.ts` for es-module-lexer:
[code]
[unpkg](https://unpkg.com/browse/@types/es-module-lexer@0.3.0/index.d.ts)

Does that match up with your intention?

[2020-09-22 08:03] guybedford commented on #53
For dynamic import the start and end are the expression start and end, including the brackets I believe.

This is because you could have any custom expression in there, so we don't match the quotes or strings etc.

[2020-09-22 08:44] csr632 commented on #53
That would solve my problem too!
Could you update the README to explain the meaning of `s` `e` `ss` `se` after implement this feature?

[2020-09-22 08:51] guybedford commented on #53
It's already implemented - that's what it is.

[2020-09-22 08:51] guybedford commented on #53
If you'd like to make a PR to clarify the docs that would be great. Or to set `se` to something sensible too. I'm open to suggestions. But the information is there already today is the point.

[2020-09-22 23:33] daKmoR opened #54 "node exports?"
hey,

I remember we added and then reverted exports to the package.json...
I'm not sure however what the reason was?

Right now I am trying to import es-module-lexer in a node 14+ type="module" package and I need to do
[code]

would be nice if I could just do
[code]

this could be archived with an export map that may look something like this
[code]

so the question is could we add it? and if not w

[2020-09-23 00:33] guybedford commented on #54
@daKmoR yes this can be reconsidered now indeed.

Out of interest, why don't you just do:

[code]

for this case? The Node.js error message should be guiding this usage I believe.

[2020-09-23 00:48] daKmoR commented on #54
intuitively I go for the `import { foo }` syntax...

doing the default import and destructure into variables always feels like a forced step/workaround...
but yeah for node code it should not matter that much...
Still everything that is not intuitive will always produce friction so if I can clean it up or help to do so - I try 🤗

[2020-09-23 04:20] guybedford commented on #54
Yeah we should ship this feature now.

[2020-09-23 04:21] guybedford commented on #54
Note it is:

[code]

[2020-09-23 07:11] daKmoR commented on #54
want me to create a pull request?

[2020-09-23 10:53] guybedford commented on #54
Sure, I’ll merge and release when I can.

On Wed, Sep 23, 2020 at 00:11 Thomas Allmer <notifications@github.com>
wrote:

[2020-10-31 22:46] LarsDenBakker opened #56 "Expose string start/end for dynamic imports"
Dynamic imports may contain bare imports. Using the lexer we get the start and end of the entire dynamic import body, but it would be useful to know where the string actually starts and ends. It's easy to handle whitespace by users, but especially comments are tricky to parse and I think the lexer already does this parsing I think.

For example:

[code]

[code]

[2020-11-01 00:14] guybedford commented on #56
We could certainly use the `s` and `e` values for this, and then have the `ss` and `se` be what the current start and end are.

I'd be good with making that as a breaking change. It just takes one call to `commentWhitespace()` to get the starting position. The only issue is that because dynamic imports can be arbitrary expressions, we don't actually know the end of the expression, but we could pos

[2020-11-01 09:08] LarsDenBakker commented on #56
I'm interested in making a PR, but I haven't been able to get the C environment working on my mac 😅

For expressions, we do track the end of the first string in the case of bare imports:

[code]

and then we just resolve the first part.

[2020-11-01 19:50] guybedford commented on #56
Let me know if I can help with this at all.

Best-effort base string parsing sounds pretty sweet actually, nice suggestion!

[2020-11-26 14:17] JYone3A opened #57 "Fallback to global atob in lexer.js"
Hi,

starting with Node 12.20 I suddenly got a weird error as soon as the dynamic `import` command was called from an ES Module (importing, I assume, a non-ESM module and therefore the lexer was used to get the static exports):
[code]

The problem was that in [lexer.js:46](https://github.com/guybedford/es-module-lexer/blob/master/src/lexer.js#L46) a global `atob` function is used if present. While

[2020-11-26 18:06] guybedford commented on #57
The justification is that for other JS envs, like Deno, atob can work fine without needing to bring in the Node.js Buffer shim.

But I agree it is unfortunate that a global atob can change the behaviour.

Out of interest, what changes were present to the global for this to happen in your environment? I'm a little unclear on

[2020-11-26 18:32] #57 closed

[2020-11-26 18:32] guybedford commented on #57
I added a fix for this in https://github.com/guybedford/es-module-lexer/pull/58.

[2020-11-27 08:34] JYone3A commented on #57
Thanks!

[code]

this is enough to trigger the problem:
[code]

Its fine if the `global.atob` is changed after the first `import()` command is executed.

[2020-12-10 16:00] remorses opened #59 "Add line and column attributes to Parse Error"
Having those values makes it easier to identify the made the lexer fail, using code like

[code]

[2020-12-10 16:03] remorses commented on #59
Ok, i found you can do this

[code]

[2020-12-10 16:03] #59 closed

[2020-12-10 17:31] guybedford commented on #59
If you don't add the try catch, you can just do `parse(source, filename)` and it will give you an error stack too.

[2021-02-03 00:16] drwpow opened #60 "Parse error on string concat"
Hello! Thanks for such an incredible library. Don’t know what we would do without it!

I am running into a problem with the latest version of `react-redux`. Specifically [this line](https://github.com/reduxjs/react-redux/blob/master/src/hooks/useSelector.js#L42):

[code]

To be clear, this works just fine. However, when running this through Rollup for older browsers, the alternate method of string

[2021-02-03 09:36] guybedford commented on #60
Hey @drwpow glad it's working well for you and always happy to help here.

So the case seems like it's a correct failure to me in the above, because the check:

[code]

would actually see the JS source string as using real newlines, without the `\`, and newlines aren't valid in strings.

This may be some escaping thing where before passing the source to es module lexer you perhaps need to ensure t

[2021-02-03 15:06] drwpow commented on #60
Ah you’re right—I’m unable to recreate the parse error without the newlines. You’re right that this needs to be escaped before parsing. Appreciate you taking a look!

[2021-02-03 15:06] #60 closed

[2021-02-19 07:26] evanw opened #61 "Return decoded specifiers and identifiers"
Context: https://github.com/vitejs/vite/issues/2083. Import paths are strings and can therefore contain escape sequences, like this:

[code]

Right now the documentation for this module seems to encourage using this library in a way that doesn't handle any escape sequences. Taking a raw slice of the input means that the backslashes are literal backslashes in the path instead of the actual underlyi

[2021-02-20 11:02] guybedford commented on #61
Thanks, yes the API of this project could be more polished to avoid these footguns. It was actually originally written for https://github.com/guybedford/es-module-shims hence why it is entirely offset based, with a heavy focus on the overall library footprint.

I've added a new section to the readme in https://github.com/guybedford/es-module-lexer#escape-sequences, I think that should cover the co

[2021-02-20 11:16] evanw commented on #61
That workaround had occurred to me too. However, it doesn't work for a few reasons:

* It's missing the quote characters, so it won't actually work at all. You'd have to do this instead:

[code]

* This is JavaScript, not JSON. They support different escape sequences. Here are some counter-examples that don't work with this approach:

[code]

* It will technically break for single-quoted strings c

[2021-02-20 11:18] guybedford commented on #61
The `.s` and `.e` offset indices include the `"` quote characters exactly for this reason, so you don't need additions.

Both of the examples support `JSON.parse` in my test.

Because of the first point, this case works out fine too.

[2021-02-20 11:20] guybedford commented on #61
Ah, of course this doesn't, will put some thought to this one.

[2021-02-20 11:32] evanw commented on #61
Here's my test:

[code]

I'm running with node v15.2.0 and es-module-lexer v0.3.26 from npm. This is the output:

[code]

[2021-02-20 12:06] guybedford commented on #61
Ok, I've put together a PR in https://github.com/guybedford/es-module-lexer/pull/62. Let me know if that seems like it can work here.

[2021-02-20 12:20] evanw commented on #61
Yeah that approach seems good to me.

[2021-02-20 12:41] guybedford commented on #61
Released in 0.4.0.

[2021-02-20 12:41] #61 closed

[2021-02-20 12:48] evanw commented on #61
I can confirm the fix. Looks good!

[2021-03-03 01:35] newIssues opened #65 "export var/let/const fails with minified input"
`'export var p = 5'` gives `['p']`
`'export var p=5'` gives `[]`

[2021-03-03 15:56] guybedford commented on #65
Great username :) Fixed in https://github.com/guybedford/es-module-lexer/pull/66.

[2021-03-03 15:56] #65 closed

[2021-04-29 10:46] guybedford opened #67 "Support string imports / exports"
Now that strings are supported for import and export names, we should make sure to support this syntax:

[code]

[2021-05-17 06:45] codepunkt opened #69 "Windows paths not working"
Windows paths seem to be not working.
I'm running a [vite](https://github.com/vitejs/vite) build that uses `es-module-lexer` to parse imports and then uses the `n` field to check whether imports are possible or not.

[code]

logs

[code]

[2021-05-17 09:36] guybedford commented on #69
@codepunkt this is actually correct - the same will apply if you try to load paths like this in the browser which interprets `D:` as a URL scheme not a path. Instead you should import `file:///D:/projects/...`.

[2021-05-17 13:56] codepunkt commented on #69
@guybedford I'm not sure I understand. I'm not trying to load anything in the browser. I have an import with an absolute path in Nodejs on windows. Those work, but es-module-lexer returns the path without any backslashes.

[2021-05-17 14:13] guybedford commented on #69
@codepunkt Node.js is the same since ES modules run as file URLs even in Node.js - `import 'D:\\'` is interpreted as a scheme not a drive.

[2021-05-17 14:41] codepunkt commented on #69
Ahh, I see. Thanks Guy! 😊

[2021-05-17 14:41] #69 closed

[2021-05-17 14:42] guybedford commented on #69
No problem!

[2021-06-01 18:06] bjufre commented on #36
@diervo is there any updates/progress on this?

[2021-06-02 03:07] diervo commented on #36
Unfortunately I wasn't able to get this prioritized on any of my teams at Salesforce so far, and I'm on paternity leave right now so on my end it will take a while to be able to help in the short term...

[2021-06-07 09:57] qmhc opened #72 "Can not parse `export type {} from 'xxx'`"
When I use:

[code]

it can be parsed, but not:

[code]

[2021-06-07 11:31] guybedford commented on #72
The lexer is only designed to support JavaScript not TypeScript. If you need TypeScript support that should probably be implemented as a fork of this project as I don't want to deviate the design goals here towards that currently.

[2021-06-09 00:54] qmhc commented on #72
Thanks for your reply, but I am not good at c lang, maybe I will try in the future.

[2021-06-09 00:54] #72 closed

[2021-06-14 19:42] LarsDenBakker opened #73 "Expose information about import assertions"
I am looking into polyfilling the new upcoming module types (JSON, CSS, HTML etc.). To do this it would be great if we can find out in a lightweight way whether an import is done using an import assertion. Is this something that could be added to ex module lexer?

For an import like this:

[code]

And this would tell use that the import assertion is JSON.

The proposal for import assertions is her

[2021-06-14 19:48] guybedford commented on #73
@LarsDenBakker I think we should build this directly into the core project, just like SystemJS supports - https://github.com/systemjs/systemjs/blob/main/src/extras/module-types.js.

Steps:
1. Support import assertions in ES module lexer (let me work on a PR now).
2. Integrate the module-types logic into the main repo here, assuming the constructed stylesheets polyfill like SystemJS does.

What is

[2021-06-14 20:06] LarsDenBakker commented on #73
Great to hear! Import assertions were stalling progress for a while, but JSON module is stage 3 and CSS modules is making progress https://groups.google.com/a/chromium.org/g/blink-dev/c/vCrJCQxNnzo/m/OAYI9cPWAQAJ?pli=1. I'm not sure about the current status of HTML modules

[2021-06-14 20:22] LarsDenBakker commented on #73
Is it possible to include the start and end position of the import assertion? For my case I'd have to remove the actual import assertion from the code. es-module-shims will have to do this as well I think?

[2021-06-14 22:08] guybedford commented on #73
@LarsDenBakker thanks for the suggestions - I've added these features in https://github.com/guybedford/es-module-lexer/pull/74, review would be very welcome there.

[2021-06-14 22:41] #73 closed

[2021-06-24 10:46] xiefengnian opened #76 "BUG: 'export * from "foo";' dose not recognize to exports but imports"
[code]

[2021-06-24 12:11] guybedford commented on #76
Are you looking to be able to track star exports? This is a feature we could add.

[2021-06-25 03:16] xiefengnian commented on #76
Yes, that's meant to be an export. it could be :
[code]

[2021-06-25 15:00] guybedford commented on #76
A pattern we use internally in RollupJS is `*./lib/export/core` as the export name. Perhaps we can take a leaf from that one.

[2021-07-05 15:26] #54 closed

[2021-07-05 18:39] marvinhagemeister opened #79 "Incorrect end offset with `import.meta.*` and dynamic imports"
When a dynamic import expression uses `import.meta.*` the parser gets confused and returns a wrong end offset. This is reproducible with the following snippet.

[code]

The end position of the actual `import()` call is very wrong here. It should be positive and not `-7224`.

[2021-07-05 18:46] guybedford commented on #79
The code in question is https://github.com/guybedford/es-module-lexer/blob/main/src/lexer.c#L117 which checks for the closing brace of the dynamic import.

The quick fix would be to track the index of the dynamic import to distinguish it from eg import.meta so that instead of checking the head we are checking the exact last dynamic import.

More generally we also don't support nested dynamic impor

[2021-07-05 19:04] guybedford commented on #79
Sorry I pointed to the wrong line there, should have pointed to https://github.com/guybedford/es-module-lexer/blob/main/src/lexer.c#L107.

[2021-07-05 20:59] marvinhagemeister commented on #79
Agree, I don't thing supporting nested dynamic imports is worth it right now. I've never seen that used anyhwere so far in my bubble and I suspect that it's extremely rare. Mixing dynamic import statements seems to be getting some traction though in my circle with now Node supporting native ESM.

Doubt I can contribute much to the C portion here as I've never coded in C. I managed to get all the w

[2021-07-05 22:14] #79 closed

[2021-07-05 22:17] guybedford commented on #79
Fix released in 0.7.1.

[2021-07-13 11:55] davidmarkclements opened #81 "parse error"
hey there, great work!

when attempting to parse https://github.com/pinojs/pino/blob/master/lib/tools.js the following error occurs:

[code]

If there's a way I can give you more info than this let me know

I realise it's a CJS file, but I'm parsing any file that may contain a dynamic import (which includes CJS files)

[2021-07-13 13:01] guybedford commented on #81
@davidmarkclements thanks, nice to finally meet :) Just ran a quick test of this by pasting the source into the unit test file and running a parse. I needed to escape the backslashes and multiline comments to get it to parse correctly but that is standard literal string conversion. So it's defiitely working for me. Make sure you're passing a string and handling escaping correctly.

If you're still

[2021-07-14 09:04] davidmarkclements commented on #81
hey thanks for checking this, this was totally my fault (trying to lex a chunk of a stream without realising it). Sorry for the time drain!

great to meet you too, would love to meet in person at some point

[2021-07-14 09:04] #81 closed

[2021-07-21 04:46] luis-pato opened #82 "Function that exports emojis throws TypeError"
I have used the open-wc project generator to create a project using lit (with `npm init @open-wc`).
Everything was woking great, until i created a function that returns a random emoji from an emojis array.
When i had this function on the component file, it worked well.
I moved this function to an extra file, where i export it, and now when i run `npm run start` i get a `TypeError: A.charCodeAt is

[2021-07-21 14:57] guybedford commented on #82
@luis-pato thanks for the detailed issue report here, unfortunately I'm still not able to replicate the issue locally.

I'm trying a test with the following code:

[code]

The line number of the error stack wasn't for the 0.7.1 version either so I wasn't able to verify where the error was being thrown from that stack.

If you have more information or a replication and I can look into this further.

[2021-07-21 16:54] luis-pato commented on #82
oh, i'm sorry, that screenshot was from before i added the 0.7.1 version to the project.
Here is a new screenshot
![image](https://user-images.githubusercontent.com/42058106/126527683-2e0f7ddc-f7cf-48d7-b663-523176213579.png)

i'm not sure how i can create a working example of the problem, but i could add you as contributor to the project where i have the problem, so you could try it on your own.

[2021-07-21 19:44] guybedford commented on #82
@luis-pato it sounds to me like the issue is that `dev-server-core` is not passing a string to es-module-lexer. I'd suggest following it up further there.

[2021-07-22 04:22] luis-pato commented on #82
thanks, i'll try that

[2021-07-25 00:38] Heartnett opened #83 "Bad Naming Convention"
ss? se? n? d? Regardless of the typescript typings and documentation, this naming convention reduces code readability. Please consider using proper names such as "moduleName" instead of "n".

[2021-07-25 02:52] guybedford commented on #83
This project was originally designed and is primarily maintained as the base for es-module-shims, which is designed to be a load-critical shim and hence every byte saving matters. That is why all unnecessary byte overhead in the source of this library is removed to ensure it is as minimal as possible. Object minification is a common feature of build optimization, just done manually here.

I'd high

[2021-07-25 02:52] #83 closed

[2021-09-19 10:37] guybedford commented on #82
This is definitely an encoding issue not a bug, but please post back if I'm wrong.

Also add <meta charset=utf-8> to your HTML!

[2021-09-19 10:37] #82 closed

[2021-09-19 10:40] #38 closed

[2021-09-27 05:35] richardo2016 opened #87 "Cannot generate lib/lexer.js with emscripten 1.40.1"
I cannot build `lib/lexer.js` by myself with `make lib/lexer.js`,

Error like below:

[code]

---

**Env Info**

OS: macOS
emscripten version: 1.40.1

as mentioned #86 , I installed emscripten 1.40.1 and activate it in my bash session.

[code]

I'm sure I haved installed it, because I checked it by `./emsdk list` and `./emcc -v`.

[code]

and

[code]

Should I do extra jobs to make it work?

Thx f

[2021-09-27 06:57] richardo2016 commented on #87
Well, after reading some history commits, I found maybe [`./lib/lexer.js`] was not generated by `emcc` (written in `makfile`), rather than written maually?

I will appreciate for your reply. @guybedford

[`./lib/lexer.js`]:https://github.com/guybedford/es-module-lexer/blob/3587509580b737840bf3a4a67b218c2064fea950/lib/lexer.js

[2021-09-27 07:08] guybedford commented on #87
@richardo2016 `emcc` will generate `lib/lexer.js` per that command, but getting to the final result requires manual manipulation yes.

[2021-09-27 07:18] richardo2016 commented on #87
Thx for your reply!

Sure enough, I found the parts of source in `lib/lexer.js` is manual-like, and another parts is generated-like.

I try to resolve this issue: #67 . It seems to be required to regenerate `lib/lexer.js` if I supported **string imports/exports**. So if I finished it and make PR to repo. Could you do the regeneration?

[2021-09-27 07:20] guybedford commented on #87
Of course, would be happy to take a PR and manually do the build. There was actually a similar PR to cjs-module-lexer recently here - https://github.com/guybedford/cjs-module-lexer/pull/54. Perhaps compare your results on that, also noting the pure JS implementation as well, which can be nice to keep in sync.

[2021-09-27 07:21] guybedford commented on #87
Oh sorry of course that PR is not related code, slow on context switching today apparently.

[2021-09-27 07:25] richardo2016 commented on #87
No problem.

That's OK, I have read [this comment](https://github.com/vitejs/vite/issues/4897#issuecomment-918768001) when I
 want to resolve this issue #67 . Maybe I should do little normalization to track changes in guybedford/cjs-module-lexer.

[2021-09-27 09:02] guybedford commented on #87
It would be a huge help, thank you so much for looking into this.

[2021-09-30 05:05] richardo2016 commented on #87
It seems I should use emcc 1.40.1-fastcomp (legacy engine) rather emcc 1.40.1. After changing it, I can generate `lib/lexer.asm.js`.

But I haven't compiled a valid result, on top of [this fix commit](https://github.com/guybedford/es-module-lexer/commit/75bb2f1946fbc5ed03da73ee59b0717a8ff1e1bb), I run commands below to compile `lib/lexer.asm.js` success:

[code]

But I don't know how to run tests,

[2021-10-01 11:53] guybedford commented on #67
Released in 0.9.2.

[2021-10-01 11:53] #67 closed

[2021-10-01 16:49] richardo2016 commented on #87
@guybedford Hi, [another PR](https://github.com/guybedford/es-module-lexer) so soon again :P , but it's not about this issue. After [this commit](https://github.com/guybedford/es-module-lexer/commit/b5816b655db576dad662d95d5b0fdf7f6cb035b7), I can generate `lib/lexer.js` as expected, just some correction to Makefile required as in PR before. This issue could be closed.

[2021-10-01 16:49] #87 closed

[2021-10-07 12:24] aomarks opened #92 "Parse error when ImportsList contains comment with closing curly brace"
If there is a comment inside of an `ImportsList`, and that comment contains a `}`, then es-module-lexer v0.9.2 currently throws a parse error:

[code]

If there is no `}` inside the comment, then there is no parse error.

Found in the wild here: https://unpkg.com/@lion/combobox@0.8.4/lion-combobox.js

(Love this library by the way! We are using it in https://github.com/google/playground-elements w

[2021-10-07 22:21] #92 closed

[2021-12-16 11:00] breminnyi opened #96 "Invalid 'parse' function return type declared"
Hi, according to the [official typescript doc](https://www.typescriptlang.org/docs/handbook/basic-types.html#tuple), only types should be specified while declaring tuples.
Could you, please, fix the [declaration file](https://github.com/guybedford/es-module-lexer/blob/db70c2053b215fa180ff839c715643d2350e5788/types/lexer.d.ts#L83)? Currently typescript fails to compile my project because of this.

[2021-12-16 11:10] breminnyi commented on #96
Okay, looks like I figured out why my build fails.
It is a `named tuple`, which was introduced in typescript v4.0.0, while I'm standing on v3.9.7.

Sorry for disturbing.

[2021-12-16 11:10] #96 closed

[2021-12-16 13:34] WarrenJones opened #97 "parse not correct"
`const [{ default: lang }, { default: langWidgets }] = await Promise.all([
      // eslint-disable-next-line no-unsanitized/method
      import(`@test/i18n/locales/${config.locale}`)
        // eslint-disable-next-line no-unsanitized/method
        .then(p => p, () => import(`@test/es/i18n/locales/${defaultLocale}`)),
      // eslint-disable-next-line no-unsanitized/method
      import(`@aaa/i18n/

[2021-12-16 14:32] mafintosh opened #98 "Nested dynamic import tracking"
Found this edge case:

[code]

Basically if you parse that, all the start offsets are correct but the end ones for the first import is a big negative number.

[2021-12-16 17:35] guybedford commented on #98
Thanks @mafintosh yes nested dynamic imports are not supported! We only analyze based on `cur_dynamic_import` in https://github.com/guybedford/es-module-lexer/blob/main/src/lexer.c#L107, when this should really be a stack to support arbitrary nesting.

Did you have real code that this was affecting?

[2021-12-16 17:38] mafintosh commented on #98
Only for a test case that our transforms work for any js code, but I was able to work around it by only knowing the where the import statement was, which does work atm, so not a big issue.

Only using the start value massively simplified my transforms so it was a good challenge 😄

[2021-12-16 17:42] guybedford commented on #98
Okay, I'm going to leave this open to track a real-world need for it since it's a bit of work for an edge case, but let me know if it is affecting you in any material way too!

[2021-12-16 17:43] mafintosh commented on #98
For sure, as long as the start index is correct, I'd much prefer MOAR PERF vs fixing this.

[2021-12-16 17:45] guybedford commented on #98
Btw the big negative number for the end index is actually uninitialized memory... the great thing about Wasm is not having to worry about this stuff :P

[2021-12-23 04:29] imcuttle opened #99 "feat: support stringify?"
In my screen, I need to `stringify` the result of `parse`.

[code]

[2022-01-07 00:33] MathiasWP opened #100 "Return array of modules found in import-statements"
I am currently using this library in a svelte pre-processor to optimise import-statements, and it is a perfect fit!

It would be awesome to get a list of the modules that are imported in an ImportDeclaration, so that i could skip my "hacky" step of obtaining this information from the current api.

Is this possible to add?

Thanks for reading, your github-profile is a lifesaver to my organization!

[2022-01-08 17:24] guybedford commented on #100
It would add a little more overhead to the API, where keeping filesize down is a primary objective of this project as it is used in es-module-shims. If a PR were small enough it might be an option though.

[2022-02-03 17:13] guybedford commented on #99
Because this project is not a parser, stringification is a non-goal.

You can use a system like magic-string for source range rewriting though. See eg https://github.com/rich-harris/magic-string, which is used as the basis of source rewriting in RollupJS.

[2022-02-03 17:13] #99 closed

[2022-02-06 23:12] daKmoR commented on #100
I just stumbled over this (or a similar) use case as well 😅

I would like to find all import names.

e.g. for this given imports
[code]

I would like to get a list of
- name
- bar
- json

@MathiasWP can you share (here a code snippet) your "hacky" version?

[2022-02-07 08:24] daKmoR commented on #100
this is my "hacky" version

[code]

test example

[code]

[2022-02-22 02:24] #56 closed

[2022-02-22 02:24] guybedford commented on #98
This feature is now supported as of https://github.com/guybedford/es-module-lexer/pull/102 using a dynamic import stack for tracking.

[2022-02-22 02:24] #98 closed

[2022-02-22 02:25] guybedford commented on #53
The 0.10 release includes `se` always being defined for dynamic imports now, with `ss` always being the start as well, as suggested here, implemented in https://github.com/guybedford/es-module-lexer/pull/102.

[2022-02-22 02:25] #53 closed

[2022-02-22 07:44] mafintosh commented on #98
Wow, amazing, thanks!

[2022-03-03 08:54] yehuozhili opened #105 "parse error"
hello, i try to parse my code , but it cause a parse error
[code]
result:
[code]

Is there something wrong with my source file ?

[2022-03-03 23:38] guybedford commented on #105
Hi @yehuozhili the reason for this is that this project only supports parsing JS syntax not the JSX syntax in use here. This project isn't going to be extended to support JSX but you can run a JSX preparser first before using this, or use another similar analysis tool that supports JSX instead. This was also discussed in https://github.com/guybedford/es-module-lexer/issues/47.

[2022-03-03 23:38] #105 closed

[2022-03-16 09:58] jackyking-cn opened #106 "RuntimeError: memory access out of bounds"
I use vite，when run build script，some time success，some time throw error:
![824fb99528164dcab4b62f896009725d](https://user-images.githubusercontent.com/1309499/158562307-06d54e41-ddca-4efb-ab6f-1dd4af7da245.PNG)

vite use parse method in es-module-lexer@0.9.3

it is bug of es-module-lexer or my code?

[2022-03-16 12:28] guybedford commented on #106
Thanks for posting - please try using the latest 0.10.0 es-module-lexer version.

Then, if you are still seeing the problem, sharing a replication of the exact case, this means an isolated replication of the Wasm parse itself, without Vite.

[2022-03-22 17:35] overlookmotel opened #112 "Return start position of export statements"
It appears that #36 is stalled for now and is a tricky problem to solve.

Would it be possible just to return the *start* position of export statements?

My aim is to parse export statements in a file without parsing the entire file. With just the start position, this would be achievable without a lot of overhead:

1. Get start position of export statement from `es-module-shims`.
2. Get slice of f

[2022-03-29 02:37] jackyking-cn commented on #106
It‘s ok when upgraded to es-module-lexer@0.10.0, Thanks lot.

[2022-03-29 02:37] #106 closed

[2022-05-09 20:43] JacobMGEvans opened #115 "Importing ASM version breaks TypeScript"
[code]
`Cannot find module 'es-module-lexer/js' or its corresponding type declarations.ts(2307)`

[2022-05-10 17:57] guybedford commented on #115
I'd be happy to update the declaration definitions. It might just need a `dist/lexer.asm.js` reexporting the types.

[2022-05-10 17:57] guybedford commented on #115
(PR would be helpful, otherwise I'll leave this up for now)

[2022-05-10 20:25] JacobMGEvans commented on #115
If I find a spare moment 😄

[2022-05-27 23:40] guybedford opened #116 "More detailed export statement tracking"
The following would be highly useful for export tracking in cycles for ES Module Shims.

This does not need to be comprehensive by any means, but a best effort approach would make progress for ES Module Shims cycle support.

* `exports` replaced by a tracking object of statement start, start, end, statement end. Start and end as the start and end of the exported identifier.
* Detecting where possi

[2022-06-21 10:33] l1shu opened #117 "losing comment when parse dynamic import in >0.9.3"
[code]

in 0.9.3:
<img width="565" alt="image" src="https://user-images.githubusercontent.com/48285873/174779365-3ab2b808-f37a-4d88-8ebd-a18cd2daf05f.png">

\>0.9.3:
<img width="530" alt="image" src="https://user-images.githubusercontent.com/48285873/174779456-391c301f-6857-4b91-b479-ffe3304e8242.png">

when the version >0.9.3, it will losing the comment

[2022-06-21 15:37] guybedford commented on #117
@l1shu this is correct and was a change made and reflected in the documentation. Instead `ss` and `se` can be used to extract the comment information.

[2022-06-22 02:45] l1shu commented on #117
thanks for replying

[2022-06-22 04:29] #117 closed

[2022-07-05 16:10] bluwy opened #118 "Parse dynamic imports with backticks"
When parsing a dynamic import with backticks, the `s` and `e` result can be used to get the raw string. However the `e` result seems to always be one index less of the closing parenthesis/comma, instead of the last backtick.

# Reproduction

[Stackblitz](https://stackblitz.com/edit/node-gjj4bq?file=index.js)

Run `node index.js` in the terminal to log the first parsed import

# Expected result

Th

[2022-07-05 21:56] guybedford commented on #118
@bluwy I agree it would be nice to add this trailing whitespace / comment adjustment to the output. This isn't so much a bug though since arbitrary dynamic import expressions just are considered as arbitrary code expressions and the handling of whitespace and comments is thus somewhat of an implementation detail. I will leave this open to track any improvement here as a feature.

[2022-07-25 21:55] tommie commented on #116
Could you elaborate on what you mean by valid identifiers? I couldn't find an existing function to check that.

[2022-07-25 22:01] tommie commented on #116
Does the `parse()` API need to be backwards-compatible, or can this simply change the second element to be an array of objects?

[2022-07-27 01:32] #116 closed

[2022-07-27 01:46] guybedford commented on #100
This has now been added in https://github.com/guybedford/es-module-lexer/pull/119.

[2022-07-27 01:46] #100 closed

[2022-07-27 01:46] guybedford commented on #112
We now support export binding information from https://github.com/guybedford/es-module-lexer/pull/119.

Extending this to full export statement tracking is a logical next step.

[2022-07-27 15:52] evanw opened #122 "CommonJS is missing?"
I wanted to try out this package so I followed [the instructions](https://github.com/guybedford/es-module-lexer#usage). However, that fails with the following error:

[code]

This is because [`lexer.cjs` wasn't published](https://unpkg.com/browse/es-module-lexer@1.0.0/dist/). Perhaps the instructions for CommonJS could be removed if this is intended to be an ESM-only package?

[2022-07-27 16:10] evanw opened #123 "Incorrect regular expression detection regarding `break` and `continue`"
I was curious how regular expressions were handled and I noticed some cases with `break` and `continue` that aren't handled. Here's an example of one:

[code]

This library thinks that these are all imports.

[2022-07-28 01:44] guybedford opened #125 "Local names on exports for export default declaration forms"
`export default (async)? function f` and `export default class x` should set local name to the name of the function or class.

[2022-07-28 01:46] guybedford commented on #123
Thanks for posting. The lexer isn't perfect and there are some academic cases that can break it, in particular https://github.com/nodejs/cjs-module-lexer/issues/22 and https://github.com/nodejs/cjs-module-lexer/issues/20. We effectively do have a "real code" eventual cutoff which may not be the best choice for a perfect parser, although we do aim to support all real code. This is very much not an

[2022-07-28 01:50] guybedford commented on #122
I just happened to publish 1.0 yesterday evening and didn't run a full build which missed this. It should work now with the 1.0.1 release.

[2022-07-28 01:50] #122 closed

[2022-08-01 11:41] MathiasWP commented on #100
I am struggling with figuring out how to get this with the latest release, is it possible to get a small example? 🙏

[2022-08-01 16:06] lili21 opened #126 "how to parse .tsx file?"
do I need to compile it to js file first ?

[2022-08-03 20:53] aomarks opened #127 "Gauging interest in upstreaming some changes"
I'm currently integrating es-module-lexer into a project within Google, as part of integrating https://github.com/google/playground-elements/, and in doing that there are a few changes I'm considering.

I'm wondering if you have any thoughts on these, and whether you'd be interested in receiving upstream PRs for them?

1. Converting the `lexer.js` bridge to TypeScript. This was really straightforw

[2022-08-03 21:59] aomarks commented on #127
Oh and one more thought:

4. `parse` currently either returns a result array or the promise of one, depending on whether initialization has completed. What would you think about `init` instead resolving to the `parse` function, not exporting `parse` directly? That way the user can't accidentally write racey code where sometimes unexpectedly get a promise? Plus it slightly simplifies the `parse` im

[2022-08-04 00:41] guybedford commented on #127
Hey @aomarks thanks for showing an interested in contributing and for providing such a clear contribution plan! That's a great approach to collaborating.

Would be very much open to new directions, although two of the major goals for this project are performance and size. In particular, this project was originally designed for es-module-shims. As a result, a heavy emphasis is placed on new feature

[2022-08-04 05:43] guybedford commented on #126
Parsing tsx is not a goal of this project. It's advisable to uses a parser with typescript support, there are many out there like Babel, Acorn, SWC, etc.

[2022-08-04 05:43] #126 closed

[2022-08-25 00:04] justinfagnani opened #132 "Add TypeScript interface for Error with idx property"
It'd be nice to be able to import an type for the error throw here: https://github.com/guybedford/es-module-lexer/blob/main/src/lexer.ts#L172

cc @aomarks

[2022-08-26 02:17] renhiyama opened #133 "Parse error @:1:34"
[code]
Yes lexer.js is es module lexer that is locally downloaded. This seems to happen for the file at https://esm.run/npm/@twind/preset-tailwind@1.0.0-next.38/defaultTheme/+esm . Other files work properly.

[2022-08-26 05:46] #133 closed

[2022-08-26 05:46] renhiyama commented on #133
seems its a different error.

[2022-08-31 09:53] #125 closed

[2022-10-12 16:50] dzearing opened #137 "Glob imports don't parse"
When parsing this import:

[code]

...it returns `{ n: undefined }`.

Expected:

Returns `{ n: '@scope/packages/intl/${...}/strings.js' }`

I recognize the content within the variable could be anything which would make the string a lot less useful to parse. I think it would be ok to strip content in the template string injected variable, so long as the glob were identifiable. For example, somethin

[2022-10-13 14:22] guybedford commented on #137
It would be great to support a feature like this definitely!

[2022-10-14 17:02] robrez opened #138 "Syntax error reported w/ default export"
Sorry, I don't have a great, minimal reproduction example.. I depend on `es-module-lexer` transitively from [@web/dev-server](https://github.com/modernweb-dev/web/blob/master/packages/dev-server-core/package.json#L64)

Since `1.0.4`, started receiving a syntax error for code that looks like this:

`foo.js`

[code]

`bar.js`

[code]

`@web/dev-server` reports the the error as:

[code]

Note that if

[2022-10-14 19:56] #138 closed

[2022-10-14 19:58] guybedford commented on #138
Thanks for sharing the case and version, that helps a lot. Fixed in 1.0.5.

[2022-10-24 09:55] sapphi-red opened #140 "Fails to parse `export default{}` (no space after `default`)"
When the following code is passed, `es-module-lexer` throws an error.
[code]

This happens from 1.0.5. It worked with 1.0.4 and before.

reproduction: https://stackblitz.com/edit/node-rvshud?file=index.js,input.js

Real world code: https://github.com/nextapps-de/flexsearch/blob/9abb781357f04e7db8529654c6941009771f4bf1/dist/module/lang/latin/advanced.js

[2022-10-24 15:35] #140 closed

[2022-10-24 15:39] guybedford commented on #140
Fix released in 1.1.0.

[2022-10-25 03:25] sapphi-red commented on #140
Thank you!

[2022-11-13 03:19] IanVS opened #142 "Parse error for import.meta.env"
We are using this package in storybook's vite builder, and found that we get a parse error for expressions like `import.meta.env.STORYBOOK_ENV`, which is the syntax that vite uses for environment variables.

[2022-11-13 21:44] guybedford commented on #142
@IanVS can you please share an exact test case here for what is not parsing?

I just tried `parse(`import.meta.env.STORY_BOOK_ENV`)` and this is working fine for me.

[2022-11-13 22:56] IanVS commented on #142
Thanks for taking a look. I was hoping it would be something clear cut, but I guess not. I'll dig in and let you know what I find.

[2022-11-14 15:36] IanVS commented on #142
Sorry for the noise, this turned out to be an issue on our end.

[2022-11-14 15:36] #142 closed